{% extends 'home/index.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="featured-post-wrapper">
        <div class="featured-post-text-wrapper">
            <div class="row">
                <div class="col-md-2 col-md-offset-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="login-panel panel panel-default">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <center>
                                    <h6 class="m-0 font-weight-bold text-primary">Process Payment for booking for {{phone}}</h6>
                                </center>
                                <div style="float: right;">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <ol class="breadcrumb">
                                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }} {{form.errors}}</strong></li>
                                            </ol>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <form action="/stk_initiate/" method="POST">{% csrf_token %}
                                            <input type="hidden" name="phone" value="{{phone}}" />
                                            <input type="hidden" name="cost" value="{{total}}" />
                                            <input type="hidden" name="id" value="{{id}}" />
                                            <p class="bs-component">
                                                <center>
                                                    <br>
                                                    <input class="btn btn-success btn-sm btn-block" type="Submit" value="Pay Kshs({{total}})" />
                                                </center>
                                            </p>
                                        </form>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}