{% extends 'dashboard/index.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="featured-post-wrapper">
        <div class="featured-post-text-wrapper">
            <div class="row">
                <div class="col-md-2 col-md-offset-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="login-panel panel panel-default">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <center>
                                    <h6 class="m-0 font-weight-bold text-primary">Add packages Form</h6>
                                </center>
                                <div style="float: right;">
                                    {% if pk %}
                                    <a href="{% url 'delete_package' pk=pk %}">
                                        <input class="btn btn-danger btn-sm btn-block" type="Submit" value="Delete">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                        <form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %} {{form.as_p}}
                                            <br>
                                            <p class="bs-component">
                                                <center>
                                                    <input class="btn btn-success btn-sm btn-block" type="Submit" value="Send Now!" />

                                                </center>
                                            </p>
                                            <input type="hidden" name="next" value="{{ next }}" />

                                        </form>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}